<p-growl [value]="msgs"></p-growl>
<md-card *ngIf="fieldOfStudy" ngForm #fieldOfStudyForm="ngForm">
  <md-card-title>Dane kierunku studiów</md-card-title>
  <md-card-content>
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label>Nazwa </label></div>
        <div class="ui-grid-col-6">
          {{fieldOfStudy.name}}
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label>Opis </label></div>
        <div class="ui-grid-col-6">
          {{fieldOfStudy.description}}
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>
    </div>
  </md-card-content>

  <md-card *ngIf="fieldOfStudy && fieldOfStudy.id">
    <md-card-subtitle>Relacje kierunku studiów</md-card-subtitle>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Przedmioty">
          <p-dataTable [value]="fieldOfStudySubjects"
                       selectionMode="single"
                       (onRowSelect)="onRowSelect($event)"
                       [responsive]="true"
                       emptyMessage="Brak rekordów">
            <p-header>{{header}}</p-header>
            <p-column field="id" header="Id" sortable="true"></p-column>
            <p-column field="name" header="nazwa" sortable="true"></p-column>
            <p-column field="description" header="opis" sortable="true"></p-column>
            <p-column field="createdDate" header="DataStworzenia" sortable="true">
              <ng-template let-col let-date="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{date[col.field] | date:'dd.MM.yyyy HH:mm'}}</span>
              </ng-template>
            </p-column>
            <p-column field="lastModifiedDate" header="DataModyfikacji" sortable="true">
              <ng-template let-col let-date="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{date[col.field] | date:'dd.MM.yyyy HH:mm'}}</span>
              </ng-template>
            </p-column>
            <p-column field="createdBy" header="StworzonePrzez" sortable="true"></p-column>
            <p-column field="lastModifiedBy" header="OstatnioModyfikowanePrzez" sortable="true"></p-column>
          </p-dataTable>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</md-card>

