<md-card>
  <img src="assets/reportsApp.png" style='width:80%;' border="0" alt="Null">
<h4>To jest strona główna</h4>

<p>Aplikacja "Sprawozdania" to webowa aplikacja, służąca jako system internetowy do składowania sprawozdań</p>
<p>Kliknij na encje aby uzyskać dostęp do danych...</p>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <img src="assets/1-Number.png" style='width:14%;' border="0" alt="Null" />
        </div>
        <div class="ui-g-6">
            <img src="assets/2-Number.png" style='width:14%;' border="0" alt="Null" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            <p>Opis 1</p>
        </div>
        <div class="ui-g-6">
            <p>Opis 2</p>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            <img src="assets/3-Number.png" style='width:14%;' border="0" alt="Null" />
        </div>
        <div class="ui-g-6">
            <img src="assets/4-Number.png" style='width:14%;' border="0" alt="Null" />
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-6">
            <p>
              Opis 3
            </p>
        </div>
        <div class="ui-g-6">
            <p>
              Opis 4
            </p>
        </div>
    </div>
</div>
</md-card>
