<p-growl [value]="msgs"></p-growl>
<md-card>
  <md-card-content>
    <p>Lista jest stronicowana po stronie serwera...</p>

    <p-dataTable [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true"
                 emptyMessage="Brak rekordów">
      <p-header>{{header}} (ilość: {{currentPage.totalElements}})</p-header>
      <p-column [style]="{'width':'50px'}" field="id" header="Id" sortable="true"></p-column>
      <p-column [style]="{'width':'90px'}" field="roleName" header="Nazwa Roli" sortable="true"></p-column>
      <p-column field="description" header="Opis" sortable="true"></p-column>
      </p-dataTable>
  </md-card-content>
</md-card>
